vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 May 2023 17:24:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LAPTOP-8GNK7S97\\user
vti_modifiedby:SR|LAPTOP-8GNK7S97\\user
vti_timecreated:TR|07 May 2023 17:24:24 -0000
vti_cacheddtm:TX|07 May 2023 17:24:24 -0000
vti_filesize:IR|1120
vti_cachedlinkinfo:VX|S|background\\ choice2.jpg S|background\\ choice2.jpg
vti_cachedsvcrellinks:VX|NSUS|yummy-master/background\\ choice2.jpg NSUS|yummy-master/background\\ choice2.jpg
vti_backlinkinfo:VX|yummy-master/MushroomBurgerRecipe.html yummy-master/burger.html
